@import "~@material/button/mdc-button";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/textfield/mdc-text-field";
@import "~@material/list/mdc-list";

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

.mdc-button,
.mdc-text-field__input {
  font-family: 'Lato', sans-serif !important;
}
